<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/reset.css">
    <link rel="stylesheet" href="stylesheets/layouts/default.css">
    {{#block "styles"}}{{/block}}
</head>
<body>
{{{body}}}
{{#block "scripts"}}{{/block}}
</body>
</html>
